# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Flask-related
instance/
*.sqlite3
*.db

# PyInstaller
dist/
build/
*.spec

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Virtual environment
venv/
env/
ENV/

# Testing
.coverage
.tox/
.noseids
.pytest_cache/

# Jupyter notebooks (if used)
.ipynb_checkpoints/

# Python wheels
*.whl

# Git
*.orig
